name: CI

on:
  push:
    branches:
    - '**'
    - '!dependabot/**'
    tags:
    - '**'
  pull_request: {}

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version: 1.19.x
    - name: Ensure generated code is committed
      run: ./hack/update-codegen.sh && git diff --exit-code
    - name: Test
      run: go test ./... -coverprofile cover.out
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
    - name: Update the release with Kubernetes resources
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true
